/* * {
  box-sizing: border-box;
}
 */
body {
  width: 99vw;
  height: 98vh;
  text-align: center;
  font-family: "Habibi", serif;
  background-color: black;
  color: var(--white);
}

h1 {
  color: #ccbdbd;
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  text-shadow: 1px 3px 7px 2px rgba(24, 23, 23, 0.4);
}

h2 {
  /* font-family: "Titillium Web", sans-serif; */
  font-family: "Cormorant Garamond", serif;
  font-size: 100px;
}

h3 {
  font-family: "Titillium Web", sans-serif;
  padding-top: 10px;
  font-size: 50px;
}

p {
  font-family: "Habibi", serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}

h4 {
  font-family: "Habibi", serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
}

h5 {
  font-family: "Titillium Web", sans-serif;
  padding-top: 10px;
  font-size: 50px;
  color: white;
  font-weight: 500;
}

legend {
  font-family: "Titillium Web", sans-serif;

  font-size: 15px;
  line-height: 18px;
  color: white;
  font-weight: 300;
}

img {
  width: 100%;
  height: 100%;
}

/* ..........cube ............................... */

/* .scene-cube {
  width: 10%;
  height: 200px;
  perspective: 500px;
} */

.cube {
  width: 80%;
  height: 500px;
  position: relative;
  transform-style: preserve-3d;
}

.cube__face {
  position: absolute;
  width: 400px;
  height: 400px;
}

.cube__face--front {
  background-color: #e55438;
  transform: rotateY(0deg) translateZ(200px);
}
.cube__face--right {
  background-color: #d4e538;
  transform: rotateY(90deg) translateZ(200px);
}
.cube__face--back {
  background-color: #5838e5;
  transform: rotateY(180deg) translateZ(200px);
}
.cube__face--left {
  background-color: #e5389d;
  transform: rotateY(-90deg) translateZ(200px);
}
.cube__face--top {
  background-color: #f70e2d;
  transform: rotateX(90deg) translateZ(200px);
}
.cube__face--bottom {
  background-color: #38c2e5;
  transform: rotateX(-90deg) translateZ(200px);
}

.cube.show-front {
  transform: translateZ(-200px) rotateY(0deg);
}
.cube.show-right {
  transform: translateZ(-200px) rotateY(-90deg) translateX(50px);
}
.cube.show-back {
  transform: translateZ(-200px) rotateY(-180deg) translateX(-180px);
}
.cube.show-left {
  transform: translateZ(-250px) rotateY(90deg) translateX(-150px);
}
.cube.show-top {
  transform: translateZ(-250px) rotateX(-90deg);
}
.cube.show-bottom {
  transform: translateZ(-250px) rotateX(90deg) translateX(0px);
}

.cube {
  margin-top: 50px;
  transform: translateZ(-100px);
  transition: transform 1s;
}

/* --------------------  Carousel / caroussel  */
/* .mobile-Cube {
  display: none;
} */

.mobile-slider {
  display: none;
}

.phone-caroussel-div {
  display: none;
}

.caroussel-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.caroussel-box .caroussel-left {
  /*  background-color: royalblue; */
  margin-right: 150px;
  height: 500px;
  width: 25vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.caroussel-box .caroussel-right {
  height: 500px;
  width: 25vw;
  /*   background-color: royalblue; */
  margin-left: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.caroussel-box .caroussel-right img,
.caroussel-box .caroussel-left img {
  -moz-box-shadow: inset 0 20 20px #020202;
  -webkit-box-shadow: inset 0 20 20px #0e0d0d;
  box-shadow: inset 0 0 20px #030303;
  height: 100px;
  width: 100px;
}

/* img.caroussel:hover {
  -moz-box-shadow: inset 0 0 20px #ccbdbd;
  -webkit-box-shadow: inset 0 0 20px #dfc9c9;
  box-shadow: inset 0 0 20px #e6dfdf;
} */

.scene {
  /* border: 1px solid #ccc; */
  /*   margin: 40px 0; */
  position: relative;
  width: 25vw;
  height: 500px;
  margin: 0px auto;
  perspective: 2000px;
}

.middle-content {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateZ(-360px);
  transform-style: preserve-3d;
  transition: transform 1s;
}

.carousel__cell {
  position: absolute;
  width: 360px;
  height: 500px;
  left: 150px;
  top: 10px;
  border: 2px solid black;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s;
}

.carousel__cell:hover {
  width: 500px;
  height: 500px;
}

.carousel__cell-zoom {
  transform: translateZ(3000px) translateY(150);
  /*   z-index: 3000; */
  position: absolute;
  width: 600px;

  /*  left: 10px;
  top: 10px; */
  border: 2px solid black;
  line-height: 116px;
  font-size: 80px;
  font-weight: bold;
  color: white;
  text-align: center;
  transition: transform 1s, opacity 1s;

  background: rgb(8, 8, 8);
}

.carousel__cell {
  border: 3px solid white;
  background: rgba(0, 0, 0, 0.8);
}

/* .carousel__cell:nth-child(5n + 1) {
  background: var(--main1LightTrans);
}
.carousel__cell:nth-child(5n + 2) {
  background: var(--main1DARKTrans);
}
.carousel__cell:nth-child(5n + 3) {
  background: var(--main2LightTrans);
}
.carousel__cell:nth-child(5n + 4) {
  background: var(--main2DARKTrans);
}
.carousel__cell:nth-child(5n + 5) {
  background: var(--main3LightTrans);
} */
/* .carousel__cell:nth-child(9n + 6) {
  background: hsla(200, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 7) {
  background: hsla(240, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 8) {
  background: hsla(280, 100%, 50%, 0.8);
}
.carousel__cell:nth-child(9n + 0) {
  background: hsla(320, 100%, 50%, 0.8);
} */

.carousel__cell:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}
.carousel__cell:nth-child(2) {
  transform: rotateY(90deg) translateZ(300px);
}
.carousel__cell:nth-child(3) {
  transform: rotateY(180deg) translateZ(300px);
}
.carousel__cell:nth-child(4) {
  transform: rotateY(270deg) translateZ(300px);
}
.carousel__cell:nth-child(5) {
  transform: rotateY(360deg) translateZ(300px);
}
.carousel__cell:nth-child(6) {
  transform: rotateY(200deg) translateZ(400px);
} /* 
.carousel__cell:nth-child(7) {
  transform: rotateY(240deg) translateZ(450px);
}
.carousel__cell:nth-child(8) {
  transform: rotateY(280deg) translateZ(450px);
}
.carousel__cell:nth-child(9) {
  transform: rotateY(320deg) translateZ(450px);
} */

.carousel-options {
  width: 20vw;
  border-radius: 40px;
  text-align: center;
  position: relative;
  z-index: 2;

  margin-bottom: 30px;
}

label {
  display: flex;
  gap: 10px;
}

input[type="range"].cells-range {
  -webkit-appearance: none; /*nécessaire pour Chrome */
  padding: 20; /* nécessaire pour IE */
  font: inherit; /* même rendu suivant font document */
  outline: none;
  color: rgb(
    216,
    22,
    129
  ); /* sert pour couleur de référence, via currentColor, pour le curseur */
  opacity: 0.8;
  background: rgb(
    238,
    226,
    226,
    0.8
  ); /* sert pour couleur de fond de la zone de déplacement */
  box-sizing: border-box; /* même modèle de boîte pour tous */
  border-radius: 40px;
  transition: opacity 0.2s;
  cursor: pointer;
  height: 10px;
}

.hidden {
  display: none;
}

.image-carousel {
  border-radius: 7px;
  margin: 0px 7px 0px 7px;
  height: 200px;
  object-fit: fit;
  box-shadow: 10px 13px 17px 12px rgba(24, 23, 23, 0.4);
}

.image-carousel img {
  border-radius: 7px;
}

.icone-caroussel {
  height: 30px;
  gap: 10px;
  margin: 10px 0px 30px 0px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--whiteTransp);
  box-shadow: 1px 3px 7px 2px rgba(24, 23, 23, 0.4);
}
.icone-caroussel img {
  display: flex;
  align-items: flex-start;
  width: 60px;
  height: 30px;
  object-fit: cover;
}

.icone-caroussel2 img {
  display: flex;
  align-items: flex-start;
  width: 30px;
  height: 30px;
}

a {
  text-decoration: none;
  color: var(--white);
}

a:hover {
  color: var(--grey1);
  cursor: pointer;
}

.link {
  padding: 0 7px 20px 7px;
  display: flex;
  align-items: center;
  gap: 10px;
}

carousel-link-div {
  width: 90%;
  overflow-x: hidden;
}

.carousel-title {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

/* ------  LOADER --------------------------- */
.loader-div {
  position: relative;
  border-radius: 5px;
  /*  background-color: #ffebcd; */
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: block;
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid var(--whiteTransp);
  border-top-color: var(--main2DARK);
  transform: rotate(-30deg);
  -webkit-box-shadow: inset 0 0 30px rgb(234, 234, 245);
  -moz-box-shadow: inset 0 0 30px rgb(190, 190, 209);
  box-shadow: inset 0 0 30px rgb(196, 196, 206);
}

.loader3 {
  display: block;
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: var(--main2DARK);
  transform: rotate(-110deg);
  animation: spin 1.5s linear 1;
  -webkit-box-shadow: inset 0 0 30px rgb(234, 234, 245);
  -moz-box-shadow: inset 0 0 30px rgb(190, 190, 209);
  box-shadow: inset 0 0 30px rgb(196, 196, 206);
}

.loader2 {
  display: block;
  position: relative;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-top-color: var(--main1Light);
  transform: rotate(-140deg);
}

.loader::before,
.loader::after {
  content: "";

  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
}

.loader3::before,
.loader3::after {
  content: "";

  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
}

.loader2::before,
.loader2::after {
  content: "";

  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
}

.loader::before {
  top: -49px;
  left: -49px;
  right: -49px;
  bottom: -49px;
  border-top-color: var(--main1DARK);
  transform: rotate(-60deg);
  animation: spin 1.5s linear 1;
}

.loader3::before {
  top: -49px;
  left: -49px;
  right: -49px;
  bottom: -49px;
  border-top-color: var(--main1DARK);
  -webkit-box-shadow: inset 0 0 40px 5px rgb(234, 234, 245, 0.4);
  -moz-box-shadow: inset 0 0 40px rgb(190, 190, 209, 0.4);
  box-shadow: inset 0 0 40px rgb(196, 196, 206, 0.4);
  -webkit-box-shadow: 0 0 30px rgba(8, 8, 8, 0.3);
  -moz-box-shadow: 0 0 30px rgba(8, 8, 8, 0.3);
  box-shadow: -20px 0px 50px 20px rgba(8, 8, 8, 0.3);
  transform: rotate(-60deg);
  animation: spin 1.5s linear 1;
}

.loader2::before {
  top: 11px;
  left: 11px;
  right: 11px;
  bottom: 11px;
  transform: rotate(10deg);
  border-top-color: var(--main3Light);
  animation: spin 1.5s linear 1;
}

.loader::after {
  top: -28px;
  left: -28px;
  right: -28px;
  bottom: -28px;
  border-top-color: var(--main3DARK);
  transform: rotate(-50deg);
  -webkit-box-shadow: inset -20px 40px 50px 10px rgb(196, 196, 206, 0.4);
  -moz-box-shadow: inset -20px 40px 50px 10px rgb(196, 196, 206, 0.4);
  box-shadow: inset -20px 40px 50px 10px rgb(196, 196, 206, 0.4);
  /* animation: spin 1.5s linear 1; */
}

.loader3::after {
  top: -28px;
  left: -28px;
  right: -28px;
  bottom: -28px;
  border-top-color: var(--main3DARK);
  transform: rotate(-0deg);
  /*  animation: spin 1.5s linear 1; */
}

.loader2::after {
  top: 33px;
  left: 33px;
  right: 33px;
  bottom: 33px;
  border-top-color: var(--main2Light);
  transform: rotate(20deg);

  /*  animation: spin 1.5s linear 1; */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ------  Home --------------------------- */
.content {
  display: flex;

  width: 98vw;
}

.titleBox {
  margin-left: 10px;
}

.developper {
  margin-right: -10px;
}
/* ------  MENU --------------------------- */

.menu {
  padding: 70px 0px 70px 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  width: 40%;
}

.title2 h3 {
  padding-left: 100px;
  font-size: 60px;
  /*   letter-spacing: 0.1em; */
  font-weight: 700;
  /*   transform: skewY(-10deg) rotate(-50deg) translateY(280px) translateX(0px); */
}

.title4 h1 {
  padding-left: 170px;
}

.title2 h1 {
  padding-left: 30px;
}

.title1 h1,
.title4 h1,
.title2 h1 {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  /*   letter-spacing: 0.1em; */
  font-weight: 100;
}

/* ------  Circle Loader + photo --------------------------- */

.loader-box {
  width: 460px;
  margin: auto;
}

.skewed {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background: var(--black);
  z-index: -10;
  transform: skewY(-10deg);
  transform-origin: bottom left;
  /*   border-bottom: 2px dotted var(--white);*/
}

.skewed3 {
  /* celui du bas */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 90%;
  background: var(--blackTrans);
  z-index: -10;
  transform: skewY(-10deg);
  transform-origin: bottom left;
  border-bottom: 2px dotted var(--white);
  box-shadow: 10px 20px 50px 10px rgba(85, 84, 80, 0.3),
    inset -10px -20px 50px 20px rgba(7, 7, 7, 0.8);
}

.skewedSide {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--blackTrans);
  z-index: -10;
  transform: skewY(-10deg) rotate(-35deg) translateY(100px) translateX(350px);
  transform-origin: bottom left;
  border-bottom: 2px dotted var(--white);

  box-shadow: 27px 17px 70px 20px rgba(0, 0, 0, 0.9),
    inset 10px 20px 50px 10px rgba(85, 84, 80, 0.3);
}

.skewedSide h2 {
  color: white;
}

/* ------  Developpeur Title  --------------------------- */

.self2 {
  top: 10px;

  /*   left: 100, */
  width: 610px;
  height: 150px;
  background-color: transparent;
  border: none;
  /* background-color: rgb(213, 213, 213, 0.2);
  border-radius: 15px;
  box-shadow: inset 20px -40px 50px 20px rgba(209, 209, 221, 0.3); */
}

.self2 h2 {
  font-weight: 300;
  color: white;
  padding-bottom: 0;
  margin-bottom: 0;
}

.self3 h3 {
  padding-top: -50px;
  font-weight: 700;
}

/* ------  MODAL --------------------------- */

.modal {
  position: absolute;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.6);
  overflow: hidden;
}

.modal-content-profil {
  position: relative;
  padding: 20px 50px 20px 50px;

  margin: 50px 5% 0 auto;
  z-index: 50;
  width: 40vw;
  height: max-content;
  overflow: auto;
  background-color: rgb(243, 235, 235);
  box-shadow: 20px -20px 50px 10px rgba(103, 103, 107, 0.3);
  border-radius: 250px;
}

.modal-content-profil .closebutton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  top: 10px;
  right: 190px;
  color: black;
}

.modal-profil::-webkit-scrollbar {
  width: 0 !important;
}

.modal-content-profil h2 {
  margin-top: 20px;
  color: var(--black);
  font-size: 40px;
}

.modal-content-profil p {
  margin: auto;
  padding-top: 30px;
  max-width: 70%;
  font-size: 18px;
  line-height: 50px;
  color: var(--black);
}

.modal-content {
  padding: 20px 50px 20px 50px;
  position: relative;
  margin: 50px auto 0 auto;
  z-index: 50;
  width: 70%;
  height: 90%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  box-shadow: 20px -20px 50px 10px rgba(103, 103, 107, 0.3);
  border-radius: 7px;
  overflow: hidden;
}

.closebutton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}
/* ------  Formulaire / form /contact --------------------------- */

.form-box {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 100px;
}

.others-contacts {
  display: flex;
  flex-direction: column;
  border-right: 1px white dashed;
  gap: 100px;
}

.legend-git {
  margin-bottom: 20px;
  text-align: left;
}

.icone-contact {
  display: flex;
  gap: 20px;
  align-items: center;
}

.icone-contact img {
  width: 50px;
  height: 50px;
}

.icone-contact p {
  color: var(--white);
  font-size: 18px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}
.discord {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.form-div {
  width: 100%;
  /*  border-right: 1px solid white; */
}

.form-div h4 {
  color: var(--white);
  font-size: 14px;
  font-family: "Titillium Web", sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.info {
  display: flex;
  gap: 50px;
}

.submit-button {
  /*  margin-bottom: 100px; */
  display: flex;
  justify-content: center;
  width: 80%;
  text-align: center;
}

.submit-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 50px;
  text-align: center;
  background: var(--main2LightTrans);
  color: var(--white);
  border-radius: 7px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.submit-button button:hover {
  background: var(--main3LightTrans);
  color: var(--white);
}

.mess {
  width: 80%;
  height: 150px;
}

form input {
  width: 35%;
  height: 50px;
  border-radius: 7px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 17px;
  padding-left: 15px;
}

form textarea {
  border-radius: 7px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 17px;
  padding-left: 15px;
}

form textarea::placeholder {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding: 15px;
}

form input::placeholder {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding-left: 15px;
  padding-top: 5px;
}

.form-response {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: max-content;
}

/* ------  SKILLS  --------------------------- */

.skills-box {
  width: 100%;

  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 50px;
}

.skills-box h2 {
  font-size: 50px;
  padding-bottom: 15px;
  border-bottom: 1px solid var(--grey1);
}

.soft-skills-box h2,
h4 {
  color: var(--main2DARK);
}

.soft-skills-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.soft-skill-div {
  max-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.softSkill-icon {
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.hard-skills-box {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

.hard-skills-box h4 {
  color: var(--main3Light);
  padding-bottom: 10px;
}

.hard-skills-box p {
  padding-bottom: 10px;
  font-weight: 500;
}

.web-skills {
  width: 40%;
  border-right: 1px solid var(--grey1);
}
/* ------  DARK MODE --------------------------- */

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: var(--white);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--white);
    color: var(--black);
  }
}
 */
/*------------------- Var ------------------ */
:root {
  /* Color */
  --main1Light: #ec7160;
  --main1DARK: #e55438;
  --main2Light: #00cdbc;
  --main2DARK: #56aaa5;
  --main3Light: #8c678e;
  --main3DARK: #6b4a63;

  --main1LightTrans: rgb(236, 113, 96, 0.8);
  --main1DARKTrans: rgb(229, 84, 56, 0.8);
  --main2LightTrans: rgb(0, 205, 188, 0.8);
  --main2DARKTrans: rgb(86, 170, 165, 0.8);
  --main3LightTrans: rgb(140, 103, 142, 0.8);
  --main3DARKTrans: rgb(107, 74, 99, 0.8);

  --white: rgb(223, 219, 219);
  --whiteTransp: rgb(223, 219, 219, 0.6);
  --black: #000000;
  --blackTrans: rgb(0, 0, 0, 0.7);
  --grey1: #5e5e5e;
  --grey2: #919191;
  --grey3: #333;
}

/* ------  DARK MODE --------------------------- */

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: var(--white);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--white);
    color: var(--black);
  }
}
 */
/*------------------- Mobile ------------------ */
@media (max-width: 768px) {
  .mobile-Cube {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

  .caroussel-box {
    display: none;
  }

  .caroussel-right img {
    display: none;
  }
  .caroussel-left img {
    display: none;
  }

  .modal-content {
    padding: 20px 50px 20px 50px;
    position: relative;
    margin: 50px auto 0 auto;
    z-index: 50;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    box-shadow: 20px -20px 50px 10px rgba(103, 103, 107, 0.3);
    border-radius: 7px;
  }

  .modal-content-profil {
    position: relative;
    width: 80vw;
  }

  .modal {
    width: 100vw;
    height: 100vh;
  }

  .others-contacts {
    padding: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-right: none;
    align-items: center;
    justify-content: center;
    border-top: 1px white dashed;
  }

  .form-box {
    margin-top: 50px;
    display: flex;
    flex-direction: column-reverse;
  }

  /*  skills mobile  */

  .modal-content {
    overflow-y: scroll;
  }

  .soft-skills-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    align-items: flex-start;
    overflow-x: hidden;
  }

  .soft-skill-div {
    border-top: 1px dashed var(--grey1);
    gap: 10px;
    max-width: 40%;
    margin-bottom: 50px;
  }

  .hard-skills-box {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
  }

  .web-skills {
    padding-bottom: 50px;
    width: 40%;
    border-right: none;
    border-bottom: 1px solid var(--grey1);
  }

  .loader-box {
    transform: scale(0.5) translateY(-700px) translateX(-200px);
  }

  .menu {
    transform: scale(0.9) translateY(-50px) translateX(50px);
  }
  .content {
    display: flex;
    flex-direction: column;
  }

  .mobile-slider {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-box {
    width: 90%;
    overflow: hidden;
    scroll-snap-type: y mandatory;

    /*     display: flex;
    gap: 150px; */
  }

  .sliderPicture {
    object-fit: fit;
    width: 100%;
    height: 200px;
  }

  .slider-div {
    scroll-snap-align: center;
    margin-top: 50px;
    padding-bottom: 30px;
    margin-bottom: 100px;

    box-shadow: inset 0 0 30px rgb(196, 196, 206, 0.4),
      0px 0px 50px 20px rgba(8, 8, 8, 0.4);
  }
}
